@page "/"
@using System.IO
@inject IHttpClientFactory ClientFactory

<h3>Upload</h3>

<InputFile OnChange="@HandleSelection" multiple />
<br>
<br>


@foreach (var message in _messages)
{
    <p>
        @message
    </p>
}

@code {
    private readonly List<string> _messages = new List<string>();


    private async Task HandleSelection(InputFileChangeEventArgs e)
    {
        try
        {
            foreach (var file in e.GetMultipleFiles(20))
            {
                var httpClient = ClientFactory.CreateClient("HotDogApi");

                var buffer = new byte[file.Size];
                await file.OpenReadStream(long.MaxValue).ReadAsync(buffer);

                var s = new MemoryStream();
                await s.WriteAsync(buffer);
                s.Position = 0;

                var content = new MultipartFormDataContent
                {
                    {
                        new ByteArrayContent(s.GetBuffer()),
                        "\"upload\"",
                        file.Name
                    }
                };

                await httpClient.PostAsync("upload", content);

                _messages.Add($"Finished loading {file.Size} bytes from {file.Name}");
            }
        }
        catch (Exception ex)
        {
            _messages.Add(ex.Message);
            throw;
        }
    }

}